---
import { Image } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import CiLinkedin from "~icons/ci/linkedin";
import SparkImage from "../../public/profiles/spark.png";

import CiTwitter from "~icons/ci/twitter";
---

<Layout title="Welcome to Salam App.">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <section class="text-white body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1
          class="text-3xl font-extrabold tracking-tight title-font mb-4 text-white sm:text-4xl"
        >
          OUR TEAM!
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
          Muslims, from across the world, for the sake of Islam!
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <Image
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              src={SparkImage}
              alt=""
              width={200}
              height={200}
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Alper Kamu
              </h2>
              <h3 class="text-gray-400 mb-3">UI Developer</h3>
              <p class="mb-4">
                DIY tote bag drinking vinegar cronut adaptogen squid fanny pack
                vaporware.
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiTwitter />
                </a>
                <a class="ml-2 text-white">
                  <CiLinkedin />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <Image
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              src={SparkImage}
              alt=""
              width={200}
              height={200}
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Holden Caulfield
              </h2>
              <h3 class="text-gray-400 mb-3">UI Developer</h3>
              <p class="mb-4">
                DIY tote bag drinking vinegar cronut adaptogen squid fanny pack
                vaporware.
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiTwitter />
                </a>
                <a class="ml-2 text-white">
                  <CiLinkedin />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <Image
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              src={SparkImage}
              alt=""
              width={200}
              height={200}
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Atticus Finch
              </h2>
              <h3 class="text-gray-400 mb-3">UI Developer</h3>
              <p class="mb-4">
                DIY tote bag drinking vinegar cronut adaptogen squid fanny pack
                vaporware.
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiTwitter />
                </a>
                <a class="ml-2 text-white">
                  <CiLinkedin />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <Image
              class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
              src={SparkImage}
              alt=""
              width={200}
              height={200}
            />
            <div class="w-full mt-10">
              <h2 class="title-font font-medium text-lg text-white">
                Henry Letham
              </h2>
              <h3 class="text-gray-500 mb-3">UI Developer</h3>
              <p class="mb-4">
                DIY tote bag drinking vinegar cronut adaptogen squid fanny pack
                vaporware.
              </p>
              <span class="inline-flex">
                <a class="text-white">
                  <CiTwitter />
                </a>
                <a class="ml-2 text-white">
                  <CiLinkedin />
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4 mt-40">
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <Image
                class="mx-auto h-40 w-40 rounded-full xl:w-40 xl:h-40"
                src={SparkImage}
                alt=""
                width={200}
                height={200}
              />
              <div class="flex-g mt-10row sm:pl-8">
                <h2 class="title-font font-medium text-lg text-white">
                  Holden Caulfield
                </h2>
                <h3 class="text-gray-400 mb-3">UI Developer</h3>
                <p class="mb-4">
                  DIY tote bag drinking vinegar cronut adaptogen squid fanny
                  pack vaporware.
                </p>
                <span class="inline-flex">
                  <a class="text-white">
                    <CiTwitter />
                  </a>
                  <a class="ml-2 text-white">
                    <CiLinkedin />
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <Image
                class="mx-auto h-40 w-40 rounded-full xl:w-40 xl:h-40"
                src={SparkImage}
                alt=""
                width={200}
                height={200}
              />
              <div class="flex-g mt-10row sm:pl-8">
                <h2 class="title-font font-medium text-lg text-white">
                  Alper Kamu
                </h2>
                <h3 class="text-gray-400 mb-3">Designer</h3>
                <p class="mb-4">
                  DIY tote bag drinking vinegar cronut adaptogen squid fanny
                  pack vaporware.
                </p>
                <span class="inline-flex">
                  <a class="text-white">
                    <CiTwitter />
                  </a>
                  <a class="ml-2 text-white">
                    <CiLinkedin />
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <Image
                class="mx-auto h-40 w-40 rounded-full xl:w-40 xl:h-40"
                src={SparkImage}
                alt=""
                width={200}
                height={200}
              />
              <div class="flex-g mt-10row sm:pl-8">
                <h2 class="title-font font-medium text-lg text-white">
                  Atticus Finch
                </h2>
                <h3 class="text-gray-400 mb-3">UI Developer</h3>
                <p class="mb-4">
                  DIY tote bag drinking vinegar cronut adaptogen squid fanny
                  pack vaporware.
                </p>
                <span class="inline-flex">
                  <a class="text-white">
                    <CiTwitter />
                  </a>
                  <a class="ml-2 text-white">
                    <CiLinkedin />
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <Image
                class="mx-auto h-40 w-40 rounded-full xl:w-40 xl:h-40"
                src={SparkImage}
                alt=""
                width={200}
                height={200}
              />
              <div class="flex-g mt-10row sm:pl-8">
                <h2 class="title-font font-medium text-lg text-white">
                  Henry Letham
                </h2>
                <h3 class="text-gray-400 mb-3">Designer</h3>
                <p class="mb-4">
                  DIY tote bag drinking vinegar cronut adaptogen squid fanny
                  pack vaporware.
                </p>
                <span class="inline-flex">
                  <a class="text-white">
                    <CiTwitter />
                  </a>
                  <a class="ml-2 text-white">
                    <CiLinkedin />
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    @tailwind base; /* Preflight will be injected here */

    @tailwind components;

    @tailwind utilities;
    html {
      scroll-behavior: smooth;
    }
  </style>
</Layout>
